@font-face {
    font-family: myFirstFont;
    src: url('../../assets/static/JosefinSans-SemiBold.ttf');
  }
  @font-face {
    font-family: lightItalic;
    src: url('../../assets/static/JosefinSans-ExtraLightItalic.ttf');
  }
  
  .mainBody{
    padding-top: 4vh;
    font-family: myFirstFont;
    font-size: 6vw;
    color: bisque;
    height: 100vh;
    text-align: center;
  }
  img{
    object-fit: contain;
  }
  button{
    font-size: inherit;
    line-height: inherit;
  }
  /* .btn-grad {background-image: linear-gradient(to right, #8e9eab 0%, #eef2f3  51%, #8e9eab  100%)} */
  .btn-grad {background-image: linear-gradient(to right, #FFE4C4 0%, #eef2f3  51%, #8e9eab  100%)}
  
  .btn-grad {
    font-size: 1.5vw;
    display: inline;
     width: 20vw;
     margin: 10px;
     padding: 15px 45px;
     text-align: center;
     text-transform: uppercase;
     transition: 0.5s;
     background-size: 200% auto;
     color: #9aa8a7;            
     box-shadow: 0 0 5px #eee ;
     border-radius: 10px;
     
   }
  
   .btn-grad:hover {
     background-position: right center; /* change the direction of the change here */
     color: #fff;
     text-decoration: none;
   }
  
  
  /* 
  .btn-grad {background-image: linear-gradient(to right, #403B4A 0%, #E7E9BB  51%, #403B4A  100%)}
  .btn-grad {
     margin: 10px;
     padding: 15px 45px;
     text-align: center;
     text-transform: uppercase;
     transition: 0.5s;
     background-size: 200% auto;
     color: white;            
     box-shadow: 0 0 20px #eee;
     border-radius: 10px;
     display: block;
   }
  
   .btn-grad:hover {
     background-position: right center; 
     color: #fff;
     text-decoration: none;
   } */
  
  /* :root {
    --backgroundColor: rgba(246, 241, 209);
    --colorShadeA: grey;
    --colorShadeB: grey;
    --colorShadeC: grey;
      --colorShadeD: grey;
    --colorShadeE:grey;
  } */
  
  
  
  .Main_container{
    padding : 2%;
    height: 95%;
    background-color: #6cdaf8;
    display: grid;
    border: 2px solid grey;
      grid-gap: 10px;
      grid-template-rows: 24% 76%;
  
  }
  
  button {
      position: relative;
      display: inline-block;
      cursor: pointer;
      outline: none;
      border: 0;
      vertical-align: middle;
      text-decoration: none;
      font-size: 1.5rem;
        color:var(--colorShadeA);
      font-weight: 700;
      text-transform: uppercase;
      font-family: inherit;
    }
    
    button.big-button {
      padding: 1em 2em;
      border: 2px solid var(--colorShadeA);
      border-radius: 1em;
      background: var(--colorShadeA);
      transform-style: preserve-3d;
      transition: all 175ms cubic-bezier(0, 0, 1, 1);
    }
    button.big-button::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: var(--colorShadeA);
      border-radius: inherit;
        box-shadow: 0 0 0 2px var(--colorShadeA), 0 0.75em 0 0 var(--colorShadeA);
     transform: translate3d(0, 0.75em, -1em);
         transition: all 175ms cubic-bezier(0, 0, 1, 1);
    }
    
    
    button.big-button:hover {
      background: var(--colorShadeA);
      transform: translate(0, 0.375em);
    }
    
    button.big-button:hover::before {
      transform: translate3d(0, 0.75em, -1em);
    }
    
    button.big-button:active {
                transform: translate(0em, 0.75em);
    }
    
    button.big-button:active::before {
      transform: translate3d(0, 0, -1em);
      
          box-shadow: 0 0 0 2px var(--colorShadeA), 0 0.25em 0 0 var(--colorShadeA);
    
    }
  
    .player_name{
      grid-row-start: 1;
      grid-row-end: 1;
      margin-top: 4%;
      margin-bottom: 4%;
  
    }
    .create_host_container{
      width: 50%;
      padding-top: 2%;
      margin-left:25%;
      margin-right:25%;
      grid-row-start: 2;
      grid-row-end: 4;
  
    }
  
    /* input::-webkit-input-placeholder {
      color: transparent;
  }
  
  input:focus::-webkit-input-placeholder {
      color: #888;
  } */
    .form__group {
      display: inline-block;
      line-height: 4vh;
      width: 20vw;
      position: relative;
      padding: 15px 0 0;
      margin-top: 10px;
      margin: auto;
      
   }
    .form__field {
      font-family: inherit;
      width: 100%;
      border: 0;
      border-bottom: 2px solid #9b9b9b;
      outline: 0;
      font-size: 1.3rem;
      color: #fff;
      padding: 7px 0;
      background: transparent;
      transition: border-color 0.2s;
   }
    .form__field::placeholder {
      color: #888;
   }
    .form__field:placeholder-shown ~ .form__label {
      font-size: 1.3rem;
      cursor: text;
      top: 20px;
   }
    .form__label {
      position: absolute;
      top: -10px;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: #9b9b9b;
   }
    .form__field:focus {
      padding-bottom: 6px;
      font-weight: 700;
      border-width: 3px;
      border-image: linear-gradient(to right, #11998e, #38ef7d);
      border-image-slice: 1;
   }
    .form__field:focus ~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: #11998e;
      font-weight: 700;
   }
    .form__field:required, .form__field:invalid {
      box-shadow: none;
   }
  
   .createJoinGameButton{
   margin-top: 8%;
   left: 35%;
   }
  
   .button-container{
     padding-left: 17%;
   }