
@keyframes moveCards {
  
    0%{
      opacity: 1;
      transform : translateY(0em)
    }
    50%{
      opacity: 0.5;
      transform : translateY(3em);
    }
    100%{
      display: none;
      opacity: 0;
      transform : translateY(3em);
    }
  }

  @keyframes moveCards2 {
  
    0%{
      opacity: 1;
      transform : translate(0em)
    }
    
    100%{
      display: none;
      opacity: 0;
      transform : translate(-25em, -2.5em);
    }
  }
  @keyframes moveCards3 {
  
    0%{
      opacity: 1;
      transform : translate(0em)
    }
    
    100%{
      display: none;
      opacity: 0;
      transform : translate(-35em, 4.5em);
    }
  }
  @keyframes moveCards4 {
  
    0%{
      opacity: 1;
      transform : translate(0em)
    }
    
    100%{
      display: none;
      opacity: 0;
      transform : translate(-15em, 14.5em);
    }
  }
  @keyframes moveCards5 {
  
    0%{
      opacity: 1;
      transform : translate(0em)
    }
    
    100%{
      display: none;
      opacity: 0;
      transform : translate(5em, 12.5em);
    }
  }
  @keyframes moveCards6 {
  
    0%{
      opacity: 1;
      transform : translate(0em)
    }
    
    100%{
      display: none;
      opacity: 0;
      transform : translate(15em, 16.5em);
    }
  }
  @keyframes moveCards7 {
  
    0%{
      opacity: 1;
      transform : translate(0em)
    }
    
    100%{
      display: none;
      opacity: 0;
      transform : translate(40em, 4.5em);
    }
  }
  @keyframes moveCards8 {
  
    0%{
      opacity: 1;
      transform : translate(0em)
    }
    
    100%{
      display: none;
      opacity: 0;
      transform : translate(38em, -2.5em);
    }
  }
  .moveCardsAnimation {
    animation-duration: 2s;
    animation-iteration-count: 6;
    animation-delay: 1s;
    animation-fill-mode: reverse;
  }
 .player_2 .animate{
   animation-name: moveCards2;
  }
  .player_3 .animate{
    animation-name: moveCards3;
   }

  .player_4 .animate{
    animation-name: moveCards4;
   }
  .player_5 .animate{
    animation-name: moveCards5;
   }
  .player_6 .animate{
    animation-name: moveCards6;
   }
   .player_7 .animate{
    animation-name: moveCards7;
   }
  .player_8 .animate{
    animation-name: moveCards8;
   }