@font-face {
  font-family: myFirstFont;
  src: url('../../assets/static/JosefinSans-SemiBold.ttf');
}
.Game_container{
    padding : 2%;
    max-width:100% ;
    max-height: 100%; 
    height: 100vh;
    background-color: rgb(240, 235, 235);
    display: grid;
    border: 2px solid red;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 22% 22% 22% 34%;
  }
 
  
   .playingZone{
     grid-column-start:2;
     grid-column-end: 5;
     grid-row-start: 2;
     grid-row-end: 4;
    text-align: center;

   }

   .myControls{
     margin-left: 10%;
     margin-top: 15%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: row3-start;
    grid-row-end: 4;
   
   }
  
   .cardSelector{
    width: 20%;
    float: left;
    background-color: #c4a300; 
    transform: translate(2.2em,1.0em);

   }
   .player_1{
    
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: row3-start;
    grid-row-end: 4;
   }
   .player_8{
    display: flex;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: span 1;
    
    justify-content: start;
   }
   .player_7{
     display: flex;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: span 1;

    justify-content: center;   
}
   .player_6{
    display: flex;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: span 1;
    /* background-color: rgb(184, 212, 184); */
    justify-content: center;
   }
   .player_5{
    display: flex;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: span 1;
  
    justify-content: center;
  }
   .player_4{
    display: flex;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: span 1;
    
   }
   .player_3{
    display: flex;
    grid-column-start: 5;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
  
   }
   .player_2{
    display: flex;
    grid-column-start: 5;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 1;
    /* background-color: rgb(184, 212, 184); */
   }
   .dot{
    height: 25px;
    width: 25px;
    margin: 0px 1px;
    border-radius: 50%;
    display: inline-block;
   }
    .red{
    background-color:red;
   }
    .green{
    background-color:green;
   }
   .outerRing{
    border-radius: 50%;
     width:30%;
     margin-left: 25%;
     position: relative;
     padding-bottom: 30%;
    }
    .outerRing:after{
      padding-bottom: 100%;
    }
   .innerRing{border: 2px solid blue;
      border-radius: 50%;
      width:50%;
       height: 50%;
       margin-left: 25%;
      
      }

  
   @keyframes glowing {
    0% { box-shadow: inset 0 0 -40px #c4a300; }
    40% { box-shadow: inset 0 0 60px #c4a300; }
    60% { box-shadow: inset 0 0 60px #c4a300; }
    100% { box-shadow: inset 0 0 -40px #c4a300; }
  }
  
  .animated {
    animation: glowing 3000ms infinite;
  }
  @keyframes dangerAnimation {
    0% { box-shadow: inset 0 0 -40px red; }
    40% { box-shadow: inset 0 0 60px red; }
    60% { box-shadow: inset 0 0 60px red; }
    100% { box-shadow: inset 0 0 -40px red; }
  }

  .danger {
    animation: dangerAnimation 3000ms infinite;
  }
  
  .cardCss {
    display: inline-block;
    width: 1.6em;
    height: 2.4em;
    border: 1px solid #666;
    border-radius: .3em;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    -khtml-border-radius: .3em;
    padding: .25em;
    margin: 0 .5em .5em 0;
    text-align: center;
    font-size: 1.2em; /* @change: adjust this value to make bigger or smaller cards */
    font-weight: normal;
    font-family: Arial, sans-serif;
    position: relative;
    background-color: #fff;
    -moz-box-shadow: .2em .2em .5em #333;
    -webkit-box-shadow: .2em .2em .5em #333;
    box-shadow: .2em .2em .5em #333;
}

.backCardCss{
  text-indent: -4000px;
  background-color: #ccc;
  background-repeat: repeat;
  background-image: url(data:image/gif;base64,R0lGODlhJAAkAJEAAOjFsezdztOKbL5QKCH5BAAAAAAALAAAAAAkACQAAAL/HC4RAqm/mmLHyHmAbczB11Ea8ombJKSgKo6Z17pXFznmS1JptiX0z3vVhpEKDoUIkoa0olGIUeZUk1RI6Yn2mh/FDAt6frOrRRTqXPpsVLYugzxaVy+YcBdnoWPZOT0E4eckQtZFZBjWoHixQFWl6Nhol6R2p1Okt5TGaEWZA6fjiMdhZgPHeWrTWGVq+jTZg1HYyAEWKLYzmyiGKoUimilz+YYryyTlg5RcDJSAbNx0Q7lMcbIGEyzTK8zVdfVaImzs/QV+prYqWWW2ObkoOApM/Em/rUlIm7fijs8a2EEKEaZ3AsMUgneEU6RcpJbZ27aGHkAO2Ors8xQH1IR0Bn5YnOtVAAA7); /* image is "Pattern 069" from http://www.squidfingers.com/patterns/ */
 
}

.cardsNumber{
  position: absolute;
  text-align: center;
  font-size: 4.3em;
 transform: translate(70px,90px) ;
  width: 25%;
}

.playCard{
  width: 2.7em;
  height: 4.0em;
  transform: translate(21em,3.2em);
}

/* .numberOfCardsLeft{
  width: 50%;
  height: 30%;
  border:4px solid red;
  border-radius: 50%;
  text-align: center;
  padding-top: 8%;

} */
.numberOfCardsLeft {
  text-align: center;
  background: #5EA226;
  border-radius: 1.2em;
  -moz-border-radius: 1.2em;
  -webkit-border-radius: 1.2em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 2.5em;
  margin-top: 15%;
  text-align: center;
  width: 2.5em; 
}

.winnersContainer{
  display: table;
  grid-column-start: 5;
  grid-column-end: span 1;
  grid-row-start: 4;
  grid-row-end: span 1;
  padding: 2%;
 }

.winnersList{
  display: block;
  width: 100%;
  list-style: none;
  padding: 0%;
  text-align: center;
  text-transform: uppercase;
  font-family: myFirstFont;
 
}
.winnersList ul{
  list-style: none;
  padding: 0%;
  opacity: 0.6;
}
.winnersList li{
  padding-top:1vh;

 background-color: floralwhite;
 height: 3.5vh;
 border-bottom: 2px solid antiquewhite;

}
.winnersContainer h3{
  color: navajowhite;
  background-color: brown;
  text-align: center;
  width: 100%;
}
